---
title: Archives
authot: The Almight Bits Librarian
---

.archive
  %h2{ class: 'article-header' }
    Archives
  %p
    In the archives you can find all high level bits posts sorted by date. Although the bits has moved from blogger via drupal to nanoc its owners has managed to move its waste archive with it and retain the links as they once was created.
  %ul
    - first_year = true
    - Year.articles_per_year(sorted_articles).each do |label, year|
      .one-year
        %li
          - if first_year
            %input{:id => label, :type => :checkbox, :checked => :checked}
          - else
            %input{:id => label, :type => :checkbox}
          - first_year = false
          .collapsed
            %label{:for => label}
              %h2
                %i.icon-caret-right
                ="#{label} (#{year.count})"
          .uncollapsed
            %label{:for => label}
              %h2
                %i.icon-caret-down
                ="#{label} (#{year.count})"
            %ul
              - year.months.each do |name, month|
                .one-month
                  %li
                    %input{:id => "#{label}#{name}", :type => :checkbox}
                    .collapsed
                      %label{:for => "#{label}#{name}"}
                        %h4
                          %i.icon-caret-right
                          = "#{month.name} (#{month.count})"
                    .uncollapsed
                      %label{:for => "#{label}#{name}"}
                        %h4
                          %i.icon-caret-down
                          = "#{month.name} (#{month.count})"
                      %ul
                        - month.items.each do |item|
                          .one_article_item
                            %a{ href: item.identifier.chop + '.html'}
                              =item[:title]

