---
title:
---

.archive
  %ul
    - first_year = true
    - Year.articles_per_year(sorted_articles).each do |label, year|
      .one-year
        %li
          - if first_year
            %input{:id => label, :type => :checkbox, :checked => :checked}
          - else
            %input{:id => label, :type => :checkbox}
          - first_year = false
          .collapsed
            %label{:for => label}
              %h2
                %i.icon-caret-right
                ="#{label} (#{year.count})"
          .uncollapsed
            %label{:for => label}
              %h2
                %i.icon-caret-down
                ="#{label} (#{year.count})"
            %ul
              - year.months.each do |name, month|
                .one-month
                  %li
                    %input{:id => "#{label}#{name}", :type => :checkbox}
                    .collapsed
                      %label{:for => "#{label}#{name}"}
                        %h4
                          %i.icon-caret-right
                          = "#{month.name} (#{month.count})"
                    .uncollapsed
                      %label{:for => name}
                        %h4
                          %i.icon-caret-down
                          = "#{month.name} (#{month.count})"
                      %ul
                        - month.items.each do |item|
                          .one_article_item
                            = link_to item[:title], item

