---
title:
author_name: low level mechanizer
---

.start-page
  - [sorted_articles[0],sorted_articles[2],sorted_articles[4]].each do |article|
    .start-page-article
      .row
        %h2.article-header
          = link_to article[:title], article
        .byline
          by
          = article[:author]
          on
          = article[:created_at].strftime '%F'
    = preserve article.compiled_content
    %center
      ="------"
    .outro
      %i
        Even though this was the entire post you may want to leave a comment on the
        = link_to 'post page', article
        = '.'
