---
title: home
author_name: low level mechanizer
---

.row.intro
  :markdown
    This is the blog of **Hardy Ferentschik** and **Fredrik Rubensson**. We started this adventure back in 2007 and boldly stated that: *We are not sure where this journey is going, but you are welcome to the ride*.

.start-page
  .start-page-section
    %h2.article-header
      Last 42 articles
    - sorted_articles[0..41].each do |article|
      .row.article-entry
        %span.description
          %code
            = article[:created_at].strftime '%F'
          = '-'
          %b
            %a{ href: article.identifier.chop + '.html'}
              =article[:title]
          by
          = article[:author]
        .tags
          - tags_for( article ).each do |one_tag|
            - similarly_tagged = items_tagged_with( one_tag )
            - similarly_tagged.delete(article)
            - if similarly_tagged.any?
              %a.one-tag{ href: link_to_tag( one_tag ), rel: 'tag' }
                %span
                  %i.icon-tag
                  = one_tag
  %center="------"
  .outro
    %i
      Find more posts in the 
      %a{ href: '/archive.html' }
        archives
      = '.' 
